fastapi
uvicorn[standard]
python-dotenv
httpx
pydantic
starlette
requests
groq
python-multipart
Pillow
PyPDF2
pytesseract

# Authentication & Security
bcrypt
passlib[bcrypt]
python-jose[cryptography]

# Database
sqlalchemy
aiosqlite
